@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  h1 {
    @apply text-3xl font-bold text-gray-900;
  }

  h2 {
    @apply text-2xl font-bold text-gray-900;
  }

  h3 {
    @apply text-xl font-bold text-gray-900;
  }

  h4 {
    @apply font-bold text-gray-900;
  }

  :root {
    --radius: 0.5rem;
  }
}

.ant-menu-submenu-title:hover {
  color: #ffffff !important;
}
