@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  h1 {
    @apply text-display-small;
  }

  h2 {
    @apply text-headline-small;
  }

  p {
    @apply text-body-medium;
  }

  :root {
    --radius: 0.5rem;
  }
}

.ant-menu-submenu-title:hover {
  color: #ffffff !important;
}
